/* Synthwave Dark */

* {
  bg0h:           #000000;
  bg0:            #0a0a0a;
  bg1:            #111115;
  bg2:            #1a1a24;
  bg3:            #252530;
  bg4:            #333738;
  
  gray:           #7f7094; 
  
  fg4:            #a0a0b5;
  fg3:            #b0b0c5;
  fg2:            #c3c3d5;
  fg1:            #dad9c7;
  fg0:            #ffffed;
  
  /* ANSI Barvy */
  red:            #f6188f;
  brightred:      #f841a0;
  green:          #1ebb2b;
  brightgreen:    #25c141;
  yellow:         #fdf834;
  brightyellow:   #fdf454;
  blue:           #2186ec;
  brightblue:     #2f9ded;
  purple:         #f85a21;
  brightpurple:   #f97137;
  aqua:           #12c3e2;
  brightaqua:     #19cde6;
  orange:         #f85a21;
  brightorange:   #f97137;
}

/* 
  bg - background
  fg - foreground
  br - border
*/

* {
  main-bg:        @bg0h;
  main-fg:        @fg1;
  main-br:        @brightaqua;
  input-bg:       @bg1;
  select-bg:      @brightaqua;
  select-fg:      @bg0h;
}
